<!DOCTYPE html>
<html lang="eng">

<head>
    <meta charset="UTF-8">
    <title>check-list of tasks</title>

    <link rel="stylesheet"
          href="{{ url_for('static', filename='style.css') }}">
</head>

<body>

<div class="container">

    <h1>check-list of tasks</h1>

    <form method="POST">

        <input type="text"
               name="task"
               placeholder="enter task">

        <button type="submit">
            add
        </button>

    </form>

    <ul>

        {% for task in tasks %}

        <li>
            <span class="{% if task.done %}done{% endif %}">
                {{ task.text }}
            </span>

            <a href="/toggle/{{ loop.index0 }}" class="btn {% if task.done %}btn-done{% endif %}">
                {% if task.done %}
                ✕
                {% else %}
                ✔
                {% endif %}
            </a>

            <a href="/delete/{{ loop.index0 }}" class="delbtn">del</a>

        </li>

        {% endfor %}

    </ul>

</div>

</body>
</html>